body {
    margin: 0%;

}

.menu {
        position: fixed;
        top: 0%;
        width: 100%;
        text-align: center;
        color: white;
        background-color: black;
        padding: 3px 3px;
        vertical-align: middle;
}

.box01 {
    position: absolute;
    top: 50px;
    left: 25px;
    text-align: center;    
    background-color: blue;
    width: 180px;
    height: 180px;
    color: #fff;
}

nav {

}

footer {
    background-color: black;
    color: #fff;
    position:fixed;
    bottom: 1px;
    width: 100%;
    text-align: center;
    padding: 2px 2px;
}